:root {
    --ink: #1A1A1A;
}

body {
    margin: 0;
    background-color:antiquewhite;
    color: var(--ink);
    font-family: -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}